//
@import "/../../node_modules/sweetalert2/dist/sweetalert2.min.css";
body{
  color: #2A2A33;
}

i.fas {
  color: #1D80FB;
  &.fa-arrow-up {
    color: lawngreen;
  }
  &.fa-arrow-down {
    color: red;
  }
}

.price-title {
  border-bottom: 1px solid #636b6f;
}
